/******************************************
/* CSS
/*******************************************/


/* Box Model Hack */

* {
    box-sizing: border-box;
}


/******************************************
/* LAYOUT
/*******************************************/

img {
    display: block;
    margin: 0 auto;
    width: 25%;
}

button {
    text-align: center;
    margin: 0 auto;
}

section {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 2%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 50%;
    margin: 0px auto;
}

.board {
    border: 2px solid black;
    width: 30%;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.left {
    border-left: none;
}

.right {
    border-right: none;
}

.top {
    border-top: none;
}

.bottom {
    border-bottom: none;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/